  <%
    sa = @time_entry.starts_at || Time.now
    ea = @time_entry.ends_at || Time.now

    organization = @time_entry.task.nil? ? [] : @time_entry.task.project.organization.id
    projects = @time_entry.task.nil? ? [] : @time_entry.task.project.organization.projects
    project = @time_entry.task.nil? ? nil : @time_entry.task.project.id
    tasks = @time_entry.task.nil? ? [] : @time_entry.task.project.tasks.all
  %>
  <% content_for :actions do %>
    <%= link_to "Salvar", "#", class: "btn btn-primary pull-right", onclick: "$('##{f.options[:html][:id]}').submit()" %>
  <% end %>
  <%= ibox do %>
    <div class="form-horizontal m-t-md">
      <div class="form-group">
        <%= label_tag :organization_id, nil, class: "control-label col-sm-2" %>
        <div class="col-sm-10">
          <%= select_tag :organization_id, options_from_collection_for_select(Organization.all, :id, :name, organization), class: "form-control",
            "data-dynamic-selectable-url" => organization_project_index_path(':organization_id'),
            "data-dynamic-selectable-target" => '#project_id'
           %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :project_id, nil, class: "control-label col-sm-2" %>
        <div class="col-sm-10">
          <%= select_tag :project_id, options_from_collection_for_select(projects, :id, :name, project), class: "form-control col-sm-10",
              "data-dynamic-selectable-url" => project_task_index_path(':project_id'),
              "data-dynamic-selectable-target" => '#time_entry_task_id' %>
        </div>
      </div>
      <%= f.collection_select :task_id, tasks, :id, :name, include_blank: false %>
      <%= f.datetime_select :starts_at %>
      <%= f.datetime_select :ends_at %>
      <%= f.text_field :memo %>
    </div>
  <% end %>

  <script type="text/javascript">
    $(function () {
        $('#starts_at_picker').datetimepicker({
          icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-arrow-up",
            down: "fa fa-arrow-down"
          }
        });
        $('#ends_at_picker').datetimepicker({
          icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-arrow-up",
            down: "fa fa-arrow-down"
          }
        });
    });
  </script>