<% content_for :title, "Tasks" %>
<% content_for :actions do %>
  <% link_to "Nova Tarefa", new_project_task_path(@project), class: "btn btn-primary" %>
<% end if @project%>
<% breadcrumb :tasks, @project if @project %>
<% breadcrumb :all_tasks if !@project %>

<%= ibox title: "Tarefas" do %>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Tarefa</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @tasks.each do |t| %>
          <tr>
            <td><%= link_to t.id, t %></td>
            <td>
              <strong><%= link_to t.name, t %></strong><br />
              <small><%= t.description %></small>
            </td>
            <td class="project-actions">
              <%= actions(t) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>